# Dependencies
node_modules/

# Build output (compiled extension), except icons
dist/*
!dist/icons/

# TypeScript build info
*.tsbuildinfo

# Editor / IDE settings
.vs

# Git settings
.git

# API keys
api_keys.txt
