body {
    font-family: sans-serif;
    padding: 5px 30px;
    background-color: black;
    color: white;
}

h1 {
    font-size: 24px;
    margin-bottom: 25px;
}

p {
    margin-top: 0px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

tr {
    border-bottom: 1px white dashed;
    height: 110px;
}

tbody > tr {
    height: 40px;
    border-bottom: 0px;
}

td {
    padding: 0px 25px;
    max-width: 400px;
}

.host-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filepath-column {
    white-space: nowrap;
    overflow: auto;
    display: block;
    height: 110px;
    align-content: center;
}

.table-image {
    width: 80px;
    height: 80px;
}

button {
    color: white;
    border: 2px dashed;
    margin: 0px 5px 0px 5px;
    font-size: 14px;
    border-radius: 4px;
}

.modify-button {
    background-color: #296d91;
    border-color: #3a9acf;
    height: 40px;
    width: 100px;
}

.delete-button {
    background-color: #9c342d;
    border-color: #cf6a63;
    height: 40px;
    width: 100px;
}

#rule-modify-popup {
    position: fixed;
    background: black;
    color: white;
    border: 2px solid cyan;
    text-align: center;
}

#rule-modify-popup h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 15px 0px 10px 0px;
}

#rule-modify-popup button {
    height: 30px;
    padding: 0px;
    line-height: 1.4;
    text-transform: none;
}

#rule-modify-popup input {
    width: 420px;
    height: 22px;
    color: black;
    margin: 8px 18px;
}

#rule-modify-popup #confirm-button {
    background-color: #228062;
    border-color: #3acf9f;
    margin: 10px;
    width: 150px;
}

#rule-modify-popup #exit-button {
    background-color: #9c342d;
    border-color: #cf6a63;
    margin: 10px;
    width: 50px;
}
